@import url(./assets/fonts/roboto/stylesheet.css);
@import url(./assets/fonts/molodofontRegular/stylesheet.css);
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 25px;
  width: 1140px;
  margin: 0 auto;
}
@media screen and (min-width: 1920px) {
  .container {
    width: 1320px;
  }
}
@media screen and (min-width: 2048px) {
  .container {
    width: 1600px;
    column-gap: 50px;
  }
}
@media screen and (min-width: 3840px) {
  .container {
    width: 2048px;
    column-gap: 100px;
  }
}

.header {
  padding: 0.65em 0;
  background: #EAB662;
  text-transform: uppercase;
}
.header__wrapper {
  align-items: center;
}
.header__title {
  grid-column: 1/5;
  font-family: "Molodo-font";
  font-size: 32px;
  color: inherit;
  text-decoration: inherit;
}
.header-menu {
  display: flex;
  grid-column: 5/13;
  margin: 0 0 0 auto;
  padding-left: 0;
  list-style: none;
}
.header-menu__item a {
  color: inherit;
  text-decoration: inherit;
}
.header-menu__item + .header-menu__item {
  margin-left: 50px;
}

.main {
  min-height: calc(100vh - 59.2px - 47px);
  padding: 60px 0 30px 0;
  background-image: url(./assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.holiday-description-1 {
  grid-column: 2/8;
  padding: 30px 25px;
  font-size: 14px;
  color: #000;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.holiday-description-1 h2 {
  margin: 0 0 20px 0;
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
.holiday-description-1 p {
  margin: 0;
}
.holiday-description-1 .bordered-box {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 3px solid #EAB662;
  border-radius: 15px;
}
.holiday-description-1 .bordered-box img {
  width: 32px;
  height: 32px;
}
.holiday-description-1 .bordered-box span {
  font-weight: 900;
}
.holiday-description-1 .bordered-box p {
  margin-top: 0;
  margin-bottom: 0;
}
.holiday-description-1 .bordered-box > * + * {
  margin-left: 10px;
}
.holiday-description-1__posts {
  margin-top: 20px;
}
.holiday-description-1__end {
  width: 65%;
  margin-top: 20px;
  font-weight: 900;
}
.holiday-description-1 .bordered-box + .bordered-box {
  margin-top: 10px;
}
@media screen and (min-width: 1920px) {
  .holiday-description-1 {
    font-size: 16px;
  }
}

.holiday-description-2 {
  grid-column: 8/11;
  font-size: 14px;
  color: #000;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.holiday-description-2 img {
  width: 100%;
  height: 25%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.holiday-description-2 h2 {
  font-size: 1.2em;
  margin: 0 0 10px 0;
  text-align: center;
}
.holiday-description-2 p {
  font-weight: 500;
}
.holiday-description-2 h2, .holiday-description-2 p {
  padding: 0 10px;
}
@media screen and (min-width: 1920px) {
  .holiday-description-2 {
    font-size: 16px;
  }
}

.right {
  grid-column: 11/13;
}
.right > * + * {
  margin-top: 60px;
}

.block-1 {
  height: 130px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px #00000033;
}

.block-2 {
  height: 275px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px #00000033;
}

.holiday {
  display: flex;
  grid-column: 2/11;
  grid-row: 2;
  border-radius: 12px;
  box-shadow: 0px 3px 6px 0px #00000033;
  color: #000;
  background: #fff;
  font-size: 14px;
}
.holiday__image {
  display: block;
  width: 140px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.holiday__description {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 20px 10px 10px;
}
.holiday__description h2 {
  margin: 0 0 5px 0;
  font-size: 1.2em;
}
.holiday__description p {
  margin: 0;
  font-size: 1em;
}
.holiday__description .holiday__button {
  margin: 20px 0 0 auto;
}
.holiday__right {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-bottom: 10px;
  white-space: nowrap;
}
.holiday__right .holiday__duration {
  padding: 5px 10px;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  background: #EAB662;
  text-align: center;
  border-radius: 0px 12px 0px 12px;
}
.holiday__right .holiday__navigation {
  margin: auto 10px 0 0;
}
.holiday__right .holiday__navigation .holiday__button {
  width: 100%;
  text-align: center;
}
.holiday__right .holiday__navigation .holiday__button + .holiday__button {
  margin-top: 10px;
}
.holiday__button {
  width: fit-content;
  padding: 0.2em 1em;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  background: #2F9CDD;
  border-radius: 0.6em;
  text-transform: uppercase;
  cursor: pointer;
}
.holiday__button a {
  color: inherit;
  text-decoration: inherit;
}
@media screen and (min-width: 1920px) {
  .holiday {
    font-size: 16px;
  }
}

.footer {
  padding: 1em 0;
  font-size: 14px;
  background: #EAB662;
}
.footer__copyright {
  grid-column: 1/4;
}