@import url(./assets/fonts/roboto/stylesheet.css);
@import url(./assets/fonts/molodofontRegular/stylesheet.css);
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  padding: 0.65em 0;
  background: #EAB662;
  text-transform: uppercase;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__title {
  font-family: "Molodo-font";
  font-size: 32px;
  color: inherit;
  text-decoration: inherit;
}
.header-menu {
  display: flex;
  margin: 0 0 0 auto;
  padding-left: 0;
  list-style: none;
}
.header-menu__item a {
  color: inherit;
  text-decoration: inherit;
}
.header-menu__item + .header-menu__item {
  margin-left: 50px;
}

.main {
  min-height: calc(100vh - 59.2px - 47px);
  padding: 60px 0 30px 0;
  background-image: url(./assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.main__wrapper {
  display: grid;
  grid-template-columns: 0.835fr 3fr 0.835fr;
  grid-template-rows: repeat(3, auto);
  gap: 25px;
}

.today {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 15px;
  grid-column: 1;
  height: fit-content;
  padding: 10px;
  font-family: "Molodo-font", serif;
  font-size: 16px;
  border-radius: 20px;
  background: #609CDA;
  text-transform: uppercase;
}
.today__title, .today__day-name {
  font-size: 1.2em;
}
.today__title {
  grid-column: 1;
  text-align: start;
}
.today__day-name {
  grid-column: 2;
  text-align: end;
}
.today__day, .today__month {
  grid-column: span 2;
  text-align: center;
}
.today__day {
  font-size: 4em;
}
.today__month {
  font-size: 2em;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px #00000033;
}

.calendar {
  grid-column: 1;
  grid-row: 2;
}

.description {
  grid-column: 2;
  grid-row: 1;
  padding: 32px;
  font-size: 14px;
  color: #000;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 3px 6px 0px #00000033;
}
.description h2 {
  margin: 0 0 20px 0;
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
.description p {
  margin: 0;
  font-size: 1em;
}

.articles {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.holiday {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  border-radius: 12px;
  box-shadow: 0px 3px 6px 0px #00000033;
  color: #000;
  background: #fff;
  font-size: 14px;
  overflow: hidden;
}
.holiday__image {
  display: block;
  width: 140px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  animation-duration: 1s;
}
.holiday__description {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 20px 10px 10px;
  overflow: hidden;
}
.holiday__description h2 {
  margin: 0 0 5px 0;
  font-size: 1.2em;
  animation-duration: 1.1s;
  animation-delay: 50ms;
}
.holiday__description p {
  margin: 0;
  font-size: 1em;
  animation-duration: 1.2s;
  animation-delay: 100ms;
}
.holiday__description .holiday__button {
  margin: auto 0 0 auto;
}
.holiday__right {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-bottom: 10px;
  white-space: nowrap;
}
.holiday__right .holiday__duration {
  padding: 5px 10px;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  background: #EAB662;
  text-align: center;
  border-radius: 0px 12px 0px 12px;
}
.holiday__right .holiday__navigation {
  margin: auto 10px 0 0;
}
.holiday__right .holiday__navigation .holiday__button {
  width: 100%;
  text-align: center;
}
.holiday__right .holiday__navigation .holiday__button + .holiday__button {
  margin-top: 10px;
}
.holiday__button {
  width: fit-content;
  padding: 0.2em 1em;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  background: #2F9CDD;
  border-radius: 0.6em;
  text-transform: uppercase;
  cursor: pointer;
}
.holiday__button a {
  color: inherit;
  text-decoration: inherit;
}

.article {
  font-size: 14px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 1.5px 3px 0px #00000033;
}
.article-top {
  display: flex;
  flex-direction: column;
  height: 110px;
  padding: 5px;
  background-size: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.article-top__item {
  width: fit-content;
  padding: 2px 6px;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  background: #000;
}
.article-top__item:first-child {
  margin-top: auto;
}
.article-top__item + .article-top__item {
  margin-top: 2.5px;
}
.article-center {
  display: flex;
  align-items: center;
  margin: 10px;
}
.article-center img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.article-center__post {
  margin-left: 10px;
  font-size: 1em;
  font-weight: 600;
  color: #000;
  text-decoration: inherit;
}
.article-description {
  display: block;
  margin: 10px;
  font-size: 0.95em;
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}
.article-description p {
  margin: 0;
}

.block-1 {
  grid-column: 3;
  grid-row: 1;
}

.block-2 {
  grid-column: 3;
  grid-row: 2;
}

.footer {
  padding: 1em 0;
  font-size: 14px;
  background: #EAB662;
}

.animation_slide-in-left {
  animation-name: slideInLeft;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (min-width: 1920px) {
  .container {
    width: 1600px;
  }

  .main__wrapper {
    grid-template-columns: 0.75fr 4fr 0.75fr;
  }

  .today {
    font-size: 18px;
  }

  .description {
    font-size: 16px;
  }

  .holiday {
    font-size: 16px;
  }

  .article {
    font-size: 16px;
  }
}
@media screen and (min-width: 2048px) {
  .container {
    width: 1920px;
  }

  .main__wrapper {
    grid-template-columns: 0.7fr 5fr 0.7fr;
  }
}
@media screen and (min-width: 3048px) {
  .container {
    width: 2048px;
  }

  .main__wrapper {
    grid-template-columns: 0.8fr 6fr 0.8fr;
  }
}