@import url(./assets/fonts/roboto/stylesheet.css);
@import url(./assets/fonts/molodofontRegular/stylesheet.css);

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: #fff;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    padding: .65em 0;
    background: #EAB662;
    text-transform: uppercase;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__title {
        font-family: 'Molodo-font';
        font-size: 32px;

        color: inherit;
        text-decoration: inherit;
    }

    &-menu {
        display: flex;

        margin: 0 0 0 auto;
        padding-left: 0;

        list-style: none;

        &__item {
            a {
                color: inherit;
                text-decoration: inherit;
            }

            & + & {
                margin-left: 50px;
            }
        }
    }
}

.main {
    min-height: calc(100vh - 59.2px - 47px);
    padding: 60px 0 30px 0;

    background-image: url(./assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &__wrapper {
        display: grid;
        grid-template-columns: 1.5fr 3fr 2fr 1.5fr;
        grid-template-rows: repeat(2, auto);
        gap: 25px;
    }
}

.holiday-description-1 {
    grid-column: 2;
    grid-row: 1;

    padding: 30px 25px;

    font-size: 14px;

    color: #000;
    background: #fff;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    h2 {
        margin: 0 0 20px 0;

        font-size: 1.2em;
        font-weight: 900;

        text-align: center;
        text-transform: uppercase;
    }

    p {
        margin: 0;
    }

    .bordered-box {
        display: flex;
        align-items: center;

        padding: 10px;

        border: 3px solid #EAB662;
        border-radius: 15px;

        img {
            width: 32px;
            height: 32px;
        }

        span {
            font-weight: 900;
        }

        p {
            margin-top: 0;
            margin-bottom: 0;
        }

        > * + * {
            margin-left: 10px;
        }
    }

    &__posts {
        margin-top: 20px;
    }

    &__end {
        width: 65%;
        margin-top: 20px;
        font-weight: 900;
    }

    .bordered-box + .bordered-box {
        margin-top: 10px;
    }

    @media screen and (min-width: 1920px) {
        font-size: 16px;
    }
}

.holiday-description-2 {
    grid-column: 3;
    grid-row: 1;

    font-size: 14px;

    color: #000;
    background: #fff;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    img {
        width: 100%;
        height: 25%;

        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    h2 {
        font-size: 1.2em;
        margin: 0 0 10px 0;
        text-align: center;
    }

    p {
        font-weight: 500;
    }

    h2,
    p {
        padding: 0 10px;
    }

    @media screen and (min-width: 1920px) {
        font-size: 16px;
    }
}

.right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;

    grid-column: 4;
    grid-row: 1 / 3;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px #00000033;
}

.holiday {
    display: flex;

    grid-column: 2 / 4;
    grid-row: 2;

    border-radius: 12px;
    box-shadow: 0px 3px 6px 0px #00000033;

    color: #000;
    background: #fff;

    font-size: 14px;
    overflow: hidden;

    &__image {
        display: block;
        width: 140px;

        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;

        animation-duration: 1s;
    }

    &__description {
        display: flex;
        flex-direction: column;

        width: 100%;
        margin: 10px 20px 10px 10px;
        overflow: hidden;

        h2 {
            margin: 0 0 5px 0;
            font-size: 1.2em;

            animation-duration: 1.1s;
            animation-delay: 50ms;
        }

        p {
            margin: 0;
            font-size: 1em;

            animation-duration: 1.2s;
            animation-delay: 100ms;
        }

        .holiday__button {
            margin: auto 0 0 auto;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;

        margin-left: auto;
        margin-bottom: 10px;
        white-space: nowrap;

        .holiday__duration {
            padding: 5px 10px;

            font-size: 1em;
            font-weight: 500;

            color: #fff;
            background: #EAB662;

            text-align: center;
            border-radius: 0px 12px 0px 12px;
        }

        .holiday__navigation {
            margin: auto 10px 0 0;

            .holiday__button {
                width: 100%;
                text-align: center;
            }

            .holiday__button + .holiday__button {
                margin-top: 10px;
            }
        }
    }

    &__button {
        width: fit-content;
        padding: .2em 1em;

        font-size: 1em;
        font-weight: 500;

        color: #fff;
        background: #2F9CDD;

        border-radius: .6em;
        text-transform: uppercase;

        cursor: pointer;

        a {
            color: inherit;
            text-decoration: inherit;
        }
    }

    @media screen and (min-width: 1920px) {
        font-size: 16px;
    }
}

.footer {
    padding: 1em 0;

    font-size: 14px;
    background: #EAB662;
}

.animation_slide-in-left {
    animation-name: slideInLeft;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-25%);
    }

    100% {
        opacity: 1.0;
        transform: translateX(0);
    }
}

@media screen and (min-width: 1920px) {
    .container {
        width: 1600px;
    }

    .main__wrapper {
        grid-template-columns: 1fr 3fr 2fr 1fr;
    }
}

@media screen and (min-width: 2048px) {
    .container {
        width: 1920px;
    }

    .main__wrapper {
        grid-template-columns: 1fr 3fr 2fr 1fr;
    }
}

@media screen and (min-width: 3048px) {
    .container {
        width: 2048px;
    }

    .main__wrapper {
        grid-template-columns: 1fr 3fr 2fr 1fr;
    }
}