@import url(./assets/fonts/roboto/stylesheet.css);
@import url(./assets/fonts/molodofontRegular/stylesheet.css);

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	margin: 0;

	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;

	color: #fff;
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 25px;

	width: 1140px;
	margin: 0 auto;
}

.header {
	padding: .65em 0;
	background: #EAB662;
	text-transform: uppercase;

	&__wrapper {
		align-items: center;
	}

	&__title {
		grid-column: 1 / 5;

		font-family: 'Molodo-font';
		font-size: 32px;

		color: inherit;
		text-decoration: inherit;
	}

	&-menu {
		display: flex;
		grid-column: 5 / 13;

		margin: 0 0 0 auto;
		padding-left: 0;

		list-style: none;

		&__item {
			a {
				color: inherit;
				text-decoration: inherit;
			}

			& + & {
				margin-left: 50px;
			}
		}
	}
}

.main {
	min-height: calc(100vh - 59.2px - 47px);
	padding: 60px 0 30px 0;
	
	background-image: url(./assets/images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.left {
	grid-column: 1 / 3;

	>* + * {
		margin-top: 60px;
	}
}

.today {
	padding: 10px;

	font-family: 'Molodo-font', serif;

	border-radius: 20px;
	background: #609CDA;

	&__top {
		display: flex;
		justify-content: space-between;

		font-size: 18px;
		text-transform: uppercase;
	}

	&__center {
		margin-top: 5px;
		text-align: center;
	}

	&__day {
		font-size: 68px;
	}

	&__month {
		font-size: 32px;
	}
}

.calendar {
	height: 140px;
	
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 3px 6px 0px #00000033;
}

.content {
	grid-column: 3 / 11;

	&-description {
		padding: 32px;

		color: #000;
		background: #fff;

		border-radius: 12px;
		box-shadow: 0px 3px 6px 0px #00000033;

		h2 {
			margin: 0 0 20px 0;

			font-size: 14px;
			font-weight: 900;

			text-align: center;
			text-transform: uppercase;
		}

		p {
			margin: 0;
			font-size: 14px;
		}
	}

	&-articles {
		display: flex;
		justify-content: space-between;

		.article + .article {
			margin-left: 20px;
		}
	}

	>* + * {
		margin-top: 60px;
	}
}

.holiday {
	display: flex;

	border-radius: 12px;
	box-shadow: 0px 3px 6px 0px #00000033;
	
	color: #000;
	background: #fff;

	&__image {
		display: block;
		width: 140px;

		border-top-left-radius: inherit;
		border-bottom-left-radius: inherit;
	}

	&__description {
		display: flex;
		flex-direction: column;
		margin: 10px 20px 10px 10px;

		h2 {
			margin: 0 0 5px 0;
			font-size: 16px;
		}

		p {
			margin: 0;
			font-size: 14px;
		}

		.holiday__button {
			margin: 20px 0 0 auto;
		}
	}

	&__right {
		display: flex;
		flex-direction: column;

		margin-bottom: 10px;
		white-space: nowrap;

		.holiday__duration {
			padding: 5px 10px;

			font-size: 14px;
			font-weight: 500;

			color: #fff;
			background: #EAB662;

			text-align: center;
			border-radius: 0px 12px 0px 12px;
		}

		.holiday__navigation {
			margin: auto 10px 0 0;

			.holiday__button {
				width: 100%;
				text-align: center;
			}

			.holiday__button + .holiday__button {
				margin-top: 10px;
			}
		}
	}

	&__button {
		width: fit-content;
		padding: .2em 1em;

		font-size: 14px;
		font-weight: 500;

		color: #fff;
		background: #2F9CDD;

		border-radius: .6em;
		text-transform: uppercase;

		cursor: pointer;

		a {
			color: inherit;
			text-decoration: inherit;
		}
	}
}

.article {
	background: #fff;
	border-radius: 12px;		
	box-shadow: 0px 1.5px 3px 0px #00000033;

	&-top {
		display: flex;
		flex-direction: column;

		height: 100px;
		padding: 5px;
		
		background-size: 100%;

		border-top-left-radius: inherit;
		border-top-right-radius: inherit;

		&__item {
			width: fit-content;
			padding: 2px 6px;
			
			font-size: 12px;
			font-weight: 500;

			color: #fff;
			background: #000;

			&:first-child {
				margin-top: auto;
			}

			& + .article-top__item {
				margin-top: 2.5px;
			}
		}
	}

	&-center {
		display: flex;
		align-items: center;
		margin: 10px;

		img {
			width: 32px;
			height: 32px;
			border-radius: 100%;
		}

		&__post {
			margin-left: 10px;

			font-size: 14px;
			font-weight: 600;

			color: #000;
			text-decoration: inherit;
		}
	}

	&-description {
		display: block;
		margin: 10px;

		font-size: 12px;
		font-weight: 500;

		color: #000;
		text-decoration: inherit;

		p {
			margin: 0;
		}
	}
}

.right {
	grid-column: 11 / 13;

	>* + * {
		margin-top: 60px;
	}
}

.block-1 {
	height: 130px;
	
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 3px 6px 0px #00000033;
}

.block-2 {
	height: 275px;
	
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 3px 6px 0px #00000033;
}

.footer {
	padding: 1em 0;

	font-size: 14px;
	background: #EAB662;

	&__copyright {
		grid-column: 1 / 4;
	}
}