@import url(./assets/fonts/roboto/stylesheet.css);
@import url(./assets/fonts/molodofontRegular/stylesheet.css);

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 400;

    color: #fff;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.header {
    height: 4em;

    background: #EAB662;
    text-transform: uppercase;

    &__wrapper {
        display: flex;
        align-items: center;
        height: inherit;
    }

    &__title {
        z-index: 2;

        font-family: 'Molodo-font';
        font-size: 2em;

        color: inherit;
        text-decoration: inherit;
    }

    &-menu {
        display: flex;

        margin: 0 0 0 auto;
        padding-left: 0;

        font-size: 1.1em;
        list-style: none;

        &__item {
            a {
                color: inherit;
                text-decoration: inherit;
            }

            & + & {
                margin-left: 50px;
            }
        }
    }

    &-hamburger {
        display: none;
        margin-left: auto;
        cursor: pointer;

        &__icon {
            width: 1.75em;
            height: 1.5em;

            &_opened {
                display: flex;
                flex-direction: column;

                div {
                    width: 100%;
                    height: 3px;

                    background: #fff;
                    border-radius: 3px;
                }

                div + div {
                    margin-top: auto;
                }
            }

            &_closed {
                position: relative;
                z-index: 2;

                div {
                    position: absolute;
                    top: calc(50% - 3px / 2);

                    width: 100%;
                    height: 3px;

                    background: #fff;
                    border-radius: 3px;
                }

                div:nth-child(1) {
                    transform: rotateZ(45deg);
                }

                div:nth-child(2) {
                    transform: rotateZ(-45deg);
                }
            }
        }

        &__popup {
            position: absolute;
            z-index: 1;

            top: 0;
            left: 0;

            width: 100vw;
            height: 100vw;

            background: rgba(#EAB662, .75);
            cursor: initial;
        }

        &-menu {
            width: fit-content;

            margin: 6em auto 0 auto;
            padding: 0;

            list-style: none;

            &__item {
                font-size: 1.5em;
                text-align: center;

                a {
                    color: inherit;
                    text-decoration: inherit;
                }

                & + & {
                    margin-top: .75em;
                }
            }
        }
    }
}

.main {
    min-height: calc(100vh - 4em - 2.5em);
    padding: 3em 0 1.5em 0;

    background-image: url(./assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &__wrapper {
        display: grid;
        grid-template-columns: calc(20% - 1em) calc(60% - 1em) 20%;
        grid-template-rows: repeat(3, auto);
        gap: 1em;
    }
}

.today {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;

    row-gap: .2em;

    grid-column: 1;

    height: fit-content;
    padding: .75em;

    font-family: 'Molodo-font', serif;

    border-radius: .6em;
    background: #609CDA;

    text-transform: uppercase;

    &__title,
    &__day-name {
        font-size: 1.4em;
    }

    &__title {
        grid-column: 1;
        text-align: start;
    }

    &__day-name {
        grid-column: 2;
        text-align: end;
    }

    &__day,
    &__month {
        grid-column: span 2;
        text-align: center;
    }

    &__day {
        font-size: 5em;
    }

    &__month {
        font-size: 2.5em;
    }
}

.today-touch {
    display: none;

    margin: 0 auto;
    padding: 1em;

    height: fit-content;

    border-radius: .6em;
    background: #609CDA;

    font-family: 'Molodo-font', serif;
    font-size: 1.4em;

    text-transform: uppercase;
}

.holidays-touch {
    display: none;

    height: fit-content;
    padding: 1em;

    font-family: 'Molodo-font', serif;
    font-size: 1.5em;

    color: #000;
    background: #fff;

    border-radius: .6em;
    box-shadow: 0px .2em .25em 0px #00000033;

    text-transform: uppercase;

    &__title {
        margin: 0 0 .5em 0;
        font-size: 1.2em;
        text-align: center;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
    }

    &__item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        span:nth-child(1) {
            padding: .25em .5em;
            border-radius: .2em;

            color: #fff;
            background: #EAB662;
        }

        span:nth-child(2) {
            margin-left: .25em;
        }

        span:nth-child(3) {
            margin-left: auto;
        }

        &::after {
            display: block;
            content: '';
            flex-basis: 100%;

            margin-top: .3em;
            border-bottom: 3px solid #609CDA;
        }
    }
}

.card {
    background: #fff;
    border-radius: .6em;
    box-shadow: 0px .2em .25em 0px #00000033;
}

.calendar {
    grid-column: 1;
    grid-row: 2;
    height: fit-content;
}

.description {
    grid-column: 2;
    grid-row: 1;

    padding: 2em 3em;

    color: #000;
    background: #fff;

    border-radius: .6em;
    box-shadow: 0px .2em .25em 0px #00000033;

    h2 {
        margin: 0 0 .5em 0;

        font-size: 1em;
        font-weight: 900;

        text-align: center;
        text-transform: uppercase;
    }

    p {
        margin: 0;
        font-size: 1em;
    }
}

.holiday {
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1em;

    border-radius: .6em;
    box-shadow: 0px .2em .25em 0px #00000033;

    color: #000;
    background: #fff;

    overflow: hidden;

    .holiday__image {
        display: block;

        width: 100%;
        height: 100%;

        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;

        animation-name: fadeIn;
        animation-duration: 1s;
    }

    .holiday__description {
        display: flex;
        flex-direction: column;

        margin: .35em 0;
        overflow: hidden;

        h2 {
            margin: 0 0 .25em 0;
            font-size: 1.1em;

            animation-name: slideInLeft;
            animation-duration: 1.1s;
            animation-delay: 50ms;
        }

        p {
            margin: 0;
            font-size: 1em;

            animation-name: slideInLeft;
            animation-duration: 1.2s;
            animation-delay: 100ms;
        }
    }

    .holiday__right {
        display: flex;
        flex-direction: column;

        .holiday__duration {
            width: fit-content;

            margin-left: auto;
            padding: .25em 1em;

            font-weight: 500;

            color: #fff;
            background: #EAB662;

            text-align: center;
            border-radius: 0px .6em 0px .6em;
            white-space: nowrap;

            overflow: hidden;

            span {
                display: block;
                animation-name: slideInRight;
                animation-duration: 1s;
            }
        }

        .holiday__navigation {
            display: grid;
            justify-items: end;

            grid-template-columns: 1fr;
            gap: .25em;

            margin: auto 0 .35em 0;
        }
    }

    .holiday__button {
        width: fit-content;
        padding: .2em 1em;

        font-weight: 500;

        color: #fff;
        background: #2F9CDD;

        text-transform: uppercase;
        text-decoration: inherit;

        cursor: pointer;
        user-select: none;

        border-radius: 1em 0 0 1em;
    }

    .holiday__button_next,
    .holiday__button_previus {
        padding: .3em .5em;
        transition: padding 250ms;

        svg {
            display: block;
        }

        &:hover {
            padding: .3em 1em;
        }
    }
}

.holiday-touch {
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 1em;

    border-radius: .6em;
    box-shadow: 0px .2em .25em 0px #00000033;

    color: #000;
    background: #fff;

    .holiday-image-wrapper {
        position: relative;
        height: 15em;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    .holiday__image {
        width: 100%;
        height: 100%;

        border-top-left-radius: inherit;
        border-top-right-radius: inherit;

        animation: fadeIn 1s;
    }

    .holiday__duration {
        position: absolute;
        width: fit-content;

        top: 0;
        right: 0;

        padding: .25em 1em;

        font-weight: 500;

        color: #fff;
        background: #EAB662;

        border-top-right-radius: .6em;
        border-bottom-left-radius: .6em;

        overflow: hidden;

        span {
            display: block;
            animation: slideInRight 1s;
        }
    }

    .holiday__description {
        h2 {
            margin: 0 0 .5em 0;
            font-size: 1.2em;
            text-align: center;

            animation-name: slideInUp;
            animation-duration: 750ms;
            animation-delay: 50ms;
        }

        p {
            margin: 0;
            padding: 0 2em;

            animation-name: slideInUp;
            animation-duration: 750ms;
            animation-delay: 100ms;
        }
    }

    .holiday__navigation {
        display: flex;
        margin: 0 auto 1em auto;

        .holiday__button {
            display: flex;
            align-items: center;

            padding: .5em 1em;

            color: #fff;
            background: #2F9CDD;

            user-select: none;
            cursor: pointer;

            svg {
                display: block;
            }
        }

        a.holiday__button {
            font-weight: 500;
            text-transform: uppercase;
            text-decoration: inherit;
        }

        .holiday__button_next {
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
        }

        .holiday__button_previus {
            border-top-left-radius: 1em;
            border-bottom-left-radius: 1em;
        }

        .holiday__button + .holiday__button {
            margin-left: .25em;
        }
    }
}

.articles {
    grid-column: 2;
    grid-row: 3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.article {
    display: grid;
    grid-template-rows: 9em auto auto;

    height: fit-content;

    background: #fff;
    border-radius: .6em;
    box-shadow: 0px .2em .25em 0px #00000033;

    &-top {
        display: flex;
        flex-direction: column;
        justify-content: end;

        padding: .5em;

        background-size: 135%;
        background-position: center;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;

        &__item {
            width: fit-content;
            padding: .05em .1em;

            font-weight: 500;

            color: #fff;
            background: #000;

            & + .article-top__item {
                margin-top: .25em;
            }
        }
    }

    &-center {
        display: flex;
        align-items: center;
        padding: .5em .5em;

        img {
            width: 2em;
            height: 2em;
            border-radius: 100%;
        }

        &__post {
            margin-left: .35em;

            font-size: 1em;
            font-weight: 600;

            color: #000;
            text-decoration: inherit;
        }
    }

    &-description {
        display: block;
        padding: 0 .5em .5em .5em;

        font-size: .95em;

        color: #000;
        text-decoration: inherit;

        p {
            margin: 0;
        }
    }
}

.block-1 {
    grid-column: 3;
    grid-row: 1;

    width: 100%;
    height: 100%;

    &_mobile {
        display: none;
        height: 17.5em;

        grid-column: 1;
        grid-row: 6;
    }
}

.block-2 {
    grid-column: 3;
    grid-row: 2;

    width: 100%;
    height: 100%;

    &_mobile {
        display: none;
        height: 17.5em;

        grid-column: 1;
        grid-row: 8;
    }
}

.footer {
    height: 2.5em;
    background: #EAB662;

    &__wrapper {
        display: flex;
        align-items: center;
        height: inherit;
    }
}

.left-touch {
    display: none;

    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);

    gap: 1em;

    grid-column: 1;
    grid-row: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1.0;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-25%);
    }

    100% {
        opacity: 1.0;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(25%);
    }

    100% {
        opacity: 1.0;
        transform: translateX(0);
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 320px;
    }

    .header {
        &__title {
            margin-left: auto;
            font-size: 1.6em;
        }

        &-menu {
            display: none;
        }

        &-hamburger {
            display: block;
        }
    }

    .main {
        padding: 3em 0;

        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: initial;
        }
    }

    .today-touch {
        display: block;

        grid-column: 1;
        grid-row: 1;

        font-size: 1.5em;
    }

    .holidays-touch {
        display: block;

        grid-column: 1;
        grid-row: 2;

        h2 {
            font-size: 1.25em;
        }

        &__items {
            font-size: .8em;
        }
    }

    .block-1 {
        display: none;

        &_mobile {
            display: block;
        }
    }

    .description {
        grid-column: 1;
        grid-row: 4;
        font-size: 1.1em;

        padding: 2em 1em;
    }

    .holiday {
        display: none;
    }

    .holiday-touch {
        display: grid;
        grid-column: 1;
        grid-row: 5;
    }

    .articles {
        grid-template-columns: 1fr;

        grid-column: 1;
        grid-row: 7;
    }

    .block-2 {
        display: none;

        &_mobile {
            display: block;
        }
    }

    .footer__copyright {
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 1279px) {
    .today {
        display: none;
    }

    .calendar {
        display: none;
    }
}

// @media screen and (min-width: 768px) and (max-width: 1279px) {
//     body {
//         font-size: 14px;
//     }

//     .container {
//         width: 640px;
//     }

//     .main__wrapper {
//         grid-template-columns: 45% 55%;
//         grid-template-rows: repeat(6, auto);
//     }

//     .left-touch {
//         display: grid;

//         .block-1 {
//             grid-column: initial;
//             grid-row: initial;
//             height: 17.5em;
//         }
//     }

//     .today {
//         display: none;
//     }

//     .calendar {
//         display: none;
//     }

//     .description {
//         height: fit-content;
//     }

//     .holiday {
//         grid-column: 2;
//         grid-row: 2;
//     }
// }

@media screen and (min-width: 1280px) {
    body {
        font-size: 16px;
    }

    .container {
        width: 1024px;
    }
}

@media screen and (min-width: 1366px) {
    body {
        font-size: 20px;
    }

    .container {
        width: 1280px;
    }
}

@media screen and (min-width: 1600px) {
    body {
        font-size: 22px;
    }

    .container {
        width: 1440px;
    }
}

@media screen and (min-width: 2560px) {
    body {
        font-size: 38px;
    }

    .container {
        width: 2400px;
    }
}

@media screen and (min-width: 3840px) {
    body {
        font-size: 52px;
    }

    .container {
        width: 3440px;
    }
}