@font-face {
    font-family: 'Molodo-font';
    src: url('MolodofontRegular.eot');
    src: url('MolodofontRegular.eot?#iefix') format('embedded-opentype'),
        url('MolodofontRegular.woff2') format('woff2'),
        url('MolodofontRegular.woff') format('woff'),
        url('MolodofontRegular.ttf') format('truetype'),
        url('MolodofontRegular.svg#MolodofontRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

